@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto,arial;
}

body{
    background-color: #28282B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

body > h1{
   font-size: 4rem;
   color: whitesmoke;
}

/* popup part  */

.pop-up{
    background-color: white;
    width: 55vw;
    text-align: center;
    padding: 0.7em;
    border-radius: 2em;
}

.pop-up p{
    margin-bottom: 1em;
}

.pop-up input{
    text-align: center;
    font-size: 1.5em;
    width: 2em;
}

.pop-up .pop-up-btn {
    margin: 1em;
}

.pop-up .pop-up-btn button{
    font-size: 1em;
    padding: 0.7em;
    border-radius: 1em;
    border: none;
}

.pop-up .pop-up-btn #btn-1{
    background-color: #25e625;
    margin-right: 1.2em;
}

.pop-up .pop-up-btn #btn-1:hover{
    background-color: #32cd32;
}

.pop-up .pop-up-btn #btn-2{
    background-color: #FF4B33;
}

.pop-up .pop-up-btn #btn-2:hover{
    background-color: #ff3419;
}

/* container part  */
.container{
    background-color: white;
    width: 70vw;
    text-align: center;
    border-radius: 2rem;
}

.container h1{
    font-size: 6rem;
}

.container .btn {
    margin: 0.5em;
}

.container .btn button{
    font-size: 1.2rem;
    padding: 0.4em;
    margin: 0.2em;
    background-color: #add8e6;
    border: none;
    border-radius: 0.6em;
}

.container .btn button:hover{
    background-color: #96d3e8;
}

