@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',arial;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.weatherapp{
    width: 60vw;
    background-color: #f4f4f4;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
}

.weatherapp .searcher{
    width: 100%;
}

.weatherapp .searcher input{
    font-size: 1.1rem;
    padding: 0.2em;
}

.weatherapp .searcher button{
    font-size: 1.1rem;
}

.weatherapp .weather-city{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
}

.weatherapp .weather-city img{
    width: 110px;
}

.weatherapp .weather-city h1{
    font-size: 4.5em;
    font-weight: 500;
}

.weatherapp .weather-city h2{
    font-size: 2.4em;
    font-weight: 300;
}

.weatherapp .extra-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weatherapp .extra-info img{
    width: 40px;
}

.weatherapp .extra-info .humidity{
    display: flex;
    gap: 0.7em;
}

.weatherapp .extra-info .wind-speed{
    display: flex;
    gap: 0.7em;
}